<div class="card border-primary mb-3" class="center-peke">

  <div class="card-body text-primary">
    <h5 class="card-title">Song List</h5>
  </div>

  <table class="table table-bordered table-striped">
    <thead>

      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Album</th>
        <th>Gender</th>
        <th>Songwriter</th>
        <th>Duration</th>
      </tr>
    </thead>
<tbody>

  <tr *ngFor="let item of songs">
    <td>{{item.title}}</td>
    <td>{{item.artist}}</td>
    <td>{{item.year}}</td>
    <td>{{item.album}}</td>
    <td>{{item.genres}}</td>
    <td>{{item.songwriter}}</td>
    <td>{{item.duration}}</td>
  </tr>
</tbody>
  </table>

</div>
