
/* Estilos minimos componente song-list */

.header{
  background-color: #3D0B61;
  padding: 30px;
}

footer{
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
  background-color: #4D4D4D;
  color: #FFFF;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 18px;
  padding: 5px;
}


a{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #EB9113;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

html{
  background-color: #242424;
}

.center-peke{
  background-color: #242424;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 310px;
  margin-right: 200px;
}

tbody{
  background-color: #EB9113;
}

th{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

td{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000000;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

b{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
}

b:hoover{
  background-color: #3D0B61;
}
